name: 07 Passing Files In Artifacts

on:
  workflow_dispatch:
    
jobs:
  unit-tests:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout source code 
        uses: actions/checkout@v5

      - name: Install Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install tox
        run: pip install tox
      - name: Run unit tests
        run: |
          cd backend
          tox -e unit
          ls -la ${{ github.workspace }}/backend
          echo "pwd: $(pwd)"

      - name: List coverage file
        run: ls -la ./backend/.coverage

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: coverage
          path: backend
  
  load-file-example:
    runs-on: ubuntu-22.04
    needs: [unit-tests]
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          name: coverage
          path: backend

      - name: List folder 
        run: ls -la backend
